{
    "openapi": "3.0.0",
    "info": {
        "title": "Firmware Action Service",
        "version": "1.0",
        "description": "The Firmware Action Service (FAS) provides a common interface for managing the firmware versions of  hardware in a system via Redfish. FAS tracks and performs actions like upgrade, downgrade,  creating or restoring snapshots for system firmware. FAS processes an *image list*, which is a json file containing firmware versions for each component on a node. \n\nThe firmware RPM's are provided by HPE and installed during installation. The firmware RPM contains the firmware image and the image list. FAS uses the fw-loader script to automatically  upload firmware images from the RPMs to the artifact repository S3 and the image list to FAS during installation.  Note that FAS is a successor to FUS (firmware update service) that was available with earlier versions and offers several enhancements over FUS.\n\n## Resources\n### /images\nMaintain the image list. Use this resource to update, replace, or return the image list.\n### /service/status, /service/version, /service/status/details\nReturn status and version information for the Firmware Action Service itself.\n### /actions\nInitiate a firmware action. An action is a collection of operations initiated by user  request to update the firmware images on a set of hardware.  Example: Update the gigabyte BMC targets to the latest version.\n### /snapshots\nStores current version information for all nodes or restores targets to the stored version level. A snapshot is a point-in-time record of what firmware images were  running on the system (a device's targets), constrained by user defined parameters (xname, model/manufacturer, etc). Snapshots can be used to restore the system back to specific firmware versions.\n## Parameters\n\n * *xname* refers to the node.\n * *target* is a component on a node and is case sensitive.\n * *tag* is a label applied to firmware images, it is part of the unique identifier for an image; deviceType, manufacturer, model, target, semanticFirmwareVersion, tag.\n\n\n## Workflow\n### Update firmware for all targets at xname and check status\n#### POST /actions\nBefore updating firmware, administrator must consider firmware dependencies between different components  and determine the update sequence. For example, firmware of one component may need to be  updated before firmware for another component can be updated.\nUpgrade/downgrade/set firmware to an explicit version for all components on the node identified by xname. Upon success, the string response contains an action ID which can be used to query the status of the firmware action.\nFor example, the response to a successful POST /actions provides actionID:\n\n    {\"actionID\": \"fcac1eec-e93b-4549-90aa-6a59fda0f4c6\",\n     \"overrideDryrun\": false,\n    }\n\n\nThe actionID is used to submit a request for the status of the action:\n\n    GET .../v1/actions/fcac1eec-e93b-4549-90aa-6a59fda0f4c6\n\n#### GET /actions/{ID}\nUsing the response from the update, retrieve status for a specific ID. The firmware update may take some time depending on your update request payload.\n## Interactions with Other APIs\nFAS receives information from the Hardware State Manager (HSM) for each xname."
    },
    "servers": [
        {
            "url": "https://rocket-ncn-w001.us.cray.com/apis/fas/v1"
        },
        {
            "url": "http://localhost:28800/v1"
        },
        {
            "url": "http://localhost:28800/"
        }
    ],
    "paths": {
        "/actions": {
            "get": {
                "summary": "Retrieve all firmware action sets with summary information",
                "description": "Retrieve all valid IDs along with start time, and\nend time for completed and in-progress actions.\n",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "actions": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "actionID": {
                                                        "type": "string",
                                                        "format": "uuid"
                                                    },
                                                    "snapshotID": {
                                                        "type": "string",
                                                        "format": "uuid"
                                                    },
                                                    "overrideDryrun": {
                                                        "type": "boolean"
                                                    },
                                                    "startTime": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "endTime": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "state": {
                                                        "type": "string",
                                                        "description": "The state of the action -\n  *new* - not yet started\n  *configured* - configured, but not yet started\n  *blocked* - configured, but cannot run because another action is executing\n  *running* - started\n  *completed* - the action has completed all operations\n  *abortSignaled* - the action has been instructed to STOP all running operations\n  *aborted* - the action has stopped all operations"
                                                    },
                                                    "operationCounts": {
                                                        "type": "object",
                                                        "properties": {
                                                            "total": {
                                                                "type": "integer",
                                                                "description": "total count of all operations",
                                                                "example": 100
                                                            },
                                                            "initial": {
                                                                "description": "count of operations that have not yet been configured",
                                                                "type": "integer",
                                                                "example": 0
                                                            },
                                                            "configured": {
                                                                "description": "count of operations that have been configured but not started",
                                                                "type": "integer",
                                                                "example": 0
                                                            },
                                                            "blocked": {
                                                                "description": "count of operations that have been configured, but cannot yet launch because another operation is pending on the same xname",
                                                                "type": "integer",
                                                                "example": 0
                                                            },
                                                            "needsVerified": {
                                                                "description": "count of operations that have been started, but need final verification to determine if the operation was successful",
                                                                "type": "integer",
                                                                "example": 0
                                                            },
                                                            "verifying": {
                                                                "description": "count of operations that have started verification, but are not finished verification.",
                                                                "type": "integer",
                                                                "example": 0
                                                            },
                                                            "inProgress": {
                                                                "description": "count of operations that have been started, but have not reach the verification stage.",
                                                                "type": "integer",
                                                                "example": 32
                                                            },
                                                            "failed": {
                                                                "description": "count of operations that have failed to compelete firmware task",
                                                                "type": "integer",
                                                                "example": 10
                                                            },
                                                            "success": {
                                                                "description": "count of operations that have succeeded in completing firmware task",
                                                                "type": "integer",
                                                                "example": 58
                                                            },
                                                            "noSolution": {
                                                                "description": "count of operations that have no viable solution to satisfy the request.  This is usally because no suitable imabe exists.",
                                                                "type": "integer",
                                                                "example": 4
                                                            },
                                                            "noOperation": {
                                                                "description": "count of operations that do not need to be executed, because the desired end state is already achieved.",
                                                                "type": "integer",
                                                                "example": 6
                                                            },
                                                            "aborted": {
                                                                "description": "count of operations that have been aborted.  It is in-determinate if their firmware task was executed.",
                                                                "type": "integer",
                                                                "example": 0
                                                            },
                                                            "unknown": {
                                                                "description": "count of unknown states -> should not be present.",
                                                                "type": "integer",
                                                                "example": 0
                                                            }
                                                        }
                                                    },
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "blockedBy": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string",
                                                            "format": "uuid"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "actions"
                ]
            },
            "post": {
                "summary": "Update firmware on the system",
                "description": "Perform a firmware action across the system.\nUpon success, the string response contains an action ID which can be used to\nquery the status of the update.\n\nFor example, the response to a successful POST /actions is\nthe following:\n  {\"actionID\": \"fcac1eec-e93b-4549-90aa-6a59fda0f4c6\", \"overrideDryrun\": false}, actionID is the ID to reference the action;\nperforming a GET .../v1/actions/fcac1eec-e93b-4549-90aa-6a59fda0f4c6  will return status\ninformation on the action and its collection of operations\n\nThe parameters are logically AND'd. The parameters are broken into: location, type, level.\nThe command parameters will FORCE an action or override a dryrun.\n\nstateComponentFilter: -> determines the xnames to run on\n  * xnames\n  * partitions\n  * groups\n  * deviceType\n\n\ninventoryHardwareFilter: -> determines the xnames to run on by comparison of the 'type' information\n  * manufacturer\n  * model\n\ntargetFilter:  -> determines the targets to run on\n  * targets\n\nimageFilter:   -> can specify a specific image uuid to use.\n  * imageID\n\ncommands:\n  * overrideDryrun ->  option to perform an update.  By default this will be false, which will cause a dryrun to\n     be executed, This will check if a newer firmware version exists without actually performing the update operation.\n     Note that leaving this blank or misspelling true is considered false resulting in an dryrun update to be performed.\n  * restoreNotPossibleOverride -> override to force update for hardware that does not have an identified FROM image and therefore cannot be rolled back to.\n  * tag -> the tag associated with the images to update to. `default` is the default tag.\n  * timeLimit -> time in seconds to let any operation execute\n  * description\n  * version - latest, earliest, explicit (used in conjunction with imageFilter)\n",
                "requestBody": {
                    "description": "Optional description in *Markdown*",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "stateComponentFilter": {
                                        "type": "object",
                                        "properties": {
                                            "xnames": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "example": [
                                                    "x0c0s0b0",
                                                    "x0c0s2b0"
                                                ]
                                            },
                                            "partitions": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "example": [
                                                    "p1"
                                                ]
                                            },
                                            "groups": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "example": [
                                                    "red",
                                                    "blue"
                                                ]
                                            },
                                            "deviceTypes": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "example": [
                                                    "nodeBMC"
                                                ]
                                            }
                                        }
                                    },
                                    "inventoryHardwareFilter": {
                                        "type": "object",
                                        "properties": {
                                            "manufacturer": {
                                                "type": "string",
                                                "example": "intel"
                                            },
                                            "model": {
                                                "type": "string",
                                                "example": "c5000"
                                            }
                                        }
                                    },
                                    "imageFilter": {
                                        "type": "object",
                                        "properties": {
                                            "imageID": {
                                                "type": "string",
                                                "format": "uuid"
                                            }
                                        }
                                    },
                                    "targetFilter": {
                                        "type": "object",
                                        "properties": {
                                            "targets": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "example": [
                                                    "BIOS",
                                                    "BMC"
                                                ]
                                            }
                                        }
                                    },
                                    "command": {
                                        "type": "object",
                                        "properties": {
                                            "version": {
                                                "type": "string",
                                                "enum": [
                                                    "latest",
                                                    "earliest",
                                                    "explicit"
                                                ],
                                                "example": "latest",
                                                "description": "Go to the latest, earliest semantic version, or explicitly set a specific version as per the imageID."
                                            },
                                            "tag": {
                                                "type": "string",
                                                "example": "default"
                                            },
                                            "overrideDryrun": {
                                                "type": "boolean",
                                                "description": "causes the action to be executed instead of simulated.  False by default. Checks to see if there are images available to update device firmware as desired."
                                            },
                                            "restoreNotPossibleOverride": {
                                                "type": "boolean",
                                                "description": "Force the action, even if the `fromFirmwareVersion` cannot be found."
                                            },
                                            "timeLimit": {
                                                "type": "integer",
                                                "description": "time limit for any operation in seconds",
                                                "example": 10000
                                            },
                                            "description": {
                                                "type": "string",
                                                "example": "update cabinet xxxx"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "actionID": {
                                            "type": "string",
                                            "format": "uuid"
                                        },
                                        "overrideDryrun": {
                                            "type": "boolean",
                                            "description": "this field represents if the automatic dryrun was overridden by command."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "action set not found",
                        "content": {
                            "application/error": {
                                "schema": {
                                    "description": "RFC 7807 compliant error payload.  All fields are optional except the 'type' field.",
                                    "type": "object",
                                    "required": [
                                        "type"
                                    ],
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "about:blank"
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Detail about this specific problem occurrence. See RFC7807"
                                        },
                                        "instance": {
                                            "type": "string",
                                            "example": ""
                                        },
                                        "status": {
                                            "type": "number",
                                            "format": "int32",
                                            "example": 400
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Description of HTTP Status code, e.g. 400"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "actions",
                    "cli_from_file"
                ]
            }
        },
        "/actions/{actionID}": {
            "get": {
                "summary": "Retrieve detailed information for a firmware action set",
                "description": "Retrieve detailed information for a firmware action set specified by actionID.\n",
                "parameters": [
                    {
                        "name": "actionID",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "actionID": {
                                            "type": "string",
                                            "format": "uuid"
                                        },
                                        "snapshotID": {
                                            "type": "string",
                                            "format": "uuid"
                                        },
                                        "startTime": {
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "endTime": {
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "state": {
                                            "type": "string",
                                            "example": "running"
                                        },
                                        "description": {
                                            "type": "string"
                                        },
                                        "operationSummary": {
                                            "type": "object",
                                            "properties": {
                                                "initial": {
                                                    "description": "count of operations that have not yet been configured",
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "operationID": {
                                                                "type": "string",
                                                                "format": "uuid"
                                                            },
                                                            "xname": {
                                                                "type": "string"
                                                            },
                                                            "target": {
                                                                "type": "string"
                                                            },
                                                            "fromFirmwareVersion": {
                                                                "type": "string",
                                                                "description": "the currently identified firmware version on the xname/target before attempting an update. May be empty."
                                                            },
                                                            "stateHelper": {
                                                                "type": "string",
                                                                "description": "a helper string that might further explain the current state."
                                                            }
                                                        }
                                                    }
                                                },
                                                "configured": {
                                                    "description": "count of operations that have been configured but not started",
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "operationID": {
                                                                "type": "string",
                                                                "format": "uuid"
                                                            },
                                                            "xname": {
                                                                "type": "string"
                                                            },
                                                            "target": {
                                                                "type": "string"
                                                            },
                                                            "fromFirmwareVersion": {
                                                                "type": "string",
                                                                "description": "the currently identified firmware version on the xname/target before attempting an update. May be empty."
                                                            },
                                                            "stateHelper": {
                                                                "type": "string",
                                                                "description": "a helper string that might further explain the current state."
                                                            }
                                                        }
                                                    }
                                                },
                                                "blocked": {
                                                    "description": "count of operations that have been configured, but cannot yet launch because another operation is pending on the same xname",
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "operationID": {
                                                                "type": "string",
                                                                "format": "uuid"
                                                            },
                                                            "xname": {
                                                                "type": "string"
                                                            },
                                                            "target": {
                                                                "type": "string"
                                                            },
                                                            "fromFirmwareVersion": {
                                                                "type": "string",
                                                                "description": "the currently identified firmware version on the xname/target before attempting an update. May be empty."
                                                            },
                                                            "stateHelper": {
                                                                "type": "string",
                                                                "description": "a helper string that might further explain the current state."
                                                            }
                                                        }
                                                    }
                                                },
                                                "needsVerified": {
                                                    "description": "count of operations that have been started, but need final verification to determine if the operation was successful",
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "operationID": {
                                                                "type": "string",
                                                                "format": "uuid"
                                                            },
                                                            "xname": {
                                                                "type": "string"
                                                            },
                                                            "target": {
                                                                "type": "string"
                                                            },
                                                            "fromFirmwareVersion": {
                                                                "type": "string",
                                                                "description": "the currently identified firmware version on the xname/target before attempting an update. May be empty."
                                                            },
                                                            "stateHelper": {
                                                                "type": "string",
                                                                "description": "a helper string that might further explain the current state."
                                                            }
                                                        }
                                                    }
                                                },
                                                "verifying": {
                                                    "description": "count of operations that have started verification, but are not finished verification.",
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "operationID": {
                                                                "type": "string",
                                                                "format": "uuid"
                                                            },
                                                            "xname": {
                                                                "type": "string"
                                                            },
                                                            "target": {
                                                                "type": "string"
                                                            },
                                                            "fromFirmwareVersion": {
                                                                "type": "string",
                                                                "description": "the currently identified firmware version on the xname/target before attempting an update. May be empty."
                                                            },
                                                            "stateHelper": {
                                                                "type": "string",
                                                                "description": "a helper string that might further explain the current state."
                                                            }
                                                        }
                                                    }
                                                },
                                                "inProgress": {
                                                    "description": "count of operations that have been started, but have not reach the verification stage.",
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "operationID": {
                                                                "type": "string",
                                                                "format": "uuid"
                                                            },
                                                            "xname": {
                                                                "type": "string"
                                                            },
                                                            "target": {
                                                                "type": "string"
                                                            },
                                                            "fromFirmwareVersion": {
                                                                "type": "string",
                                                                "description": "the currently identified firmware version on the xname/target before attempting an update. May be empty."
                                                            },
                                                            "stateHelper": {
                                                                "type": "string",
                                                                "description": "a helper string that might further explain the current state."
                                                            }
                                                        }
                                                    }
                                                },
                                                "failed": {
                                                    "description": "count of operations that have failed to compelete firmware task",
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "operationID": {
                                                                "type": "string",
                                                                "format": "uuid"
                                                            },
                                                            "xname": {
                                                                "type": "string"
                                                            },
                                                            "target": {
                                                                "type": "string"
                                                            },
                                                            "fromFirmwareVersion": {
                                                                "type": "string",
                                                                "description": "the currently identified firmware version on the xname/target before attempting an update. May be empty."
                                                            },
                                                            "stateHelper": {
                                                                "type": "string",
                                                                "description": "a helper string that might further explain the current state."
                                                            }
                                                        }
                                                    }
                                                },
                                                "success": {
                                                    "description": "count of operations that have succeeded in completing firmware task",
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "operationID": {
                                                                "type": "string",
                                                                "format": "uuid"
                                                            },
                                                            "xname": {
                                                                "type": "string"
                                                            },
                                                            "target": {
                                                                "type": "string"
                                                            },
                                                            "fromFirmwareVersion": {
                                                                "type": "string",
                                                                "description": "the currently identified firmware version on the xname/target before attempting an update. May be empty."
                                                            },
                                                            "stateHelper": {
                                                                "type": "string",
                                                                "description": "a helper string that might further explain the current state."
                                                            }
                                                        }
                                                    }
                                                },
                                                "noSolution": {
                                                    "description": "count of operations that have no viable solution to satisfy the request.  This is usally because no suitable imabe exists.",
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "operationID": {
                                                                "type": "string",
                                                                "format": "uuid"
                                                            },
                                                            "xname": {
                                                                "type": "string"
                                                            },
                                                            "target": {
                                                                "type": "string"
                                                            },
                                                            "fromFirmwareVersion": {
                                                                "type": "string",
                                                                "description": "the currently identified firmware version on the xname/target before attempting an update. May be empty."
                                                            },
                                                            "stateHelper": {
                                                                "type": "string",
                                                                "description": "a helper string that might further explain the current state."
                                                            }
                                                        }
                                                    }
                                                },
                                                "noOperation": {
                                                    "description": "count of operations that do not need to be executed, because the desired end state is already achieved.",
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "operationID": {
                                                                "type": "string",
                                                                "format": "uuid"
                                                            },
                                                            "xname": {
                                                                "type": "string"
                                                            },
                                                            "target": {
                                                                "type": "string"
                                                            },
                                                            "fromFirmwareVersion": {
                                                                "type": "string",
                                                                "description": "the currently identified firmware version on the xname/target before attempting an update. May be empty."
                                                            },
                                                            "stateHelper": {
                                                                "type": "string",
                                                                "description": "a helper string that might further explain the current state."
                                                            }
                                                        }
                                                    }
                                                },
                                                "aborted": {
                                                    "description": "count of operations that have been aborted.  It is in-determinate if their firmware task was executed.",
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "operationID": {
                                                                "type": "string",
                                                                "format": "uuid"
                                                            },
                                                            "xname": {
                                                                "type": "string"
                                                            },
                                                            "target": {
                                                                "type": "string"
                                                            },
                                                            "fromFirmwareVersion": {
                                                                "type": "string",
                                                                "description": "the currently identified firmware version on the xname/target before attempting an update. May be empty."
                                                            },
                                                            "stateHelper": {
                                                                "type": "string",
                                                                "description": "a helper string that might further explain the current state."
                                                            }
                                                        }
                                                    }
                                                },
                                                "unknown": {
                                                    "description": "count of unknown states -> should not be present.",
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "operationID": {
                                                                "type": "string",
                                                                "format": "uuid"
                                                            },
                                                            "xname": {
                                                                "type": "string"
                                                            },
                                                            "target": {
                                                                "type": "string"
                                                            },
                                                            "fromFirmwareVersion": {
                                                                "type": "string",
                                                                "description": "the currently identified firmware version on the xname/target before attempting an update. May be empty."
                                                            },
                                                            "stateHelper": {
                                                                "type": "string",
                                                                "description": "a helper string that might further explain the current state."
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "overrideDryrun": {
                                            "type": "boolean"
                                        },
                                        "parameters": {
                                            "type": "object",
                                            "properties": {
                                                "stateComponentFilter": {
                                                    "type": "object",
                                                    "properties": {
                                                        "xnames": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "example": [
                                                                "x0c0s0b0",
                                                                "x0c0s2b0"
                                                            ]
                                                        },
                                                        "partitions": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "example": [
                                                                "p1"
                                                            ]
                                                        },
                                                        "groups": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "example": [
                                                                "red",
                                                                "blue"
                                                            ]
                                                        },
                                                        "deviceTypes": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "example": [
                                                                "nodeBMC"
                                                            ]
                                                        }
                                                    }
                                                },
                                                "inventoryHardwareFilter": {
                                                    "type": "object",
                                                    "properties": {
                                                        "manufacturer": {
                                                            "type": "string",
                                                            "example": "intel"
                                                        },
                                                        "model": {
                                                            "type": "string",
                                                            "example": "c5000"
                                                        }
                                                    }
                                                },
                                                "imageFilter": {
                                                    "type": "object",
                                                    "properties": {
                                                        "imageID": {
                                                            "type": "string",
                                                            "format": "uuid"
                                                        }
                                                    }
                                                },
                                                "targetFilter": {
                                                    "type": "object",
                                                    "properties": {
                                                        "targets": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "example": [
                                                                "BIOS",
                                                                "BMC"
                                                            ]
                                                        }
                                                    }
                                                },
                                                "command": {
                                                    "type": "object",
                                                    "properties": {
                                                        "version": {
                                                            "type": "string",
                                                            "enum": [
                                                                "latest",
                                                                "earliest",
                                                                "explicit"
                                                            ],
                                                            "example": "latest",
                                                            "description": "Go to the latest, earliest semantic version, or explicitly set a specific version as per the imageID."
                                                        },
                                                        "tag": {
                                                            "type": "string",
                                                            "example": "default"
                                                        },
                                                        "overrideDryrun": {
                                                            "type": "boolean",
                                                            "description": "causes the action to be executed instead of simulated.  False by default. Checks to see if there are images available to update device firmware as desired."
                                                        },
                                                        "restoreNotPossibleOverride": {
                                                            "type": "boolean",
                                                            "description": "Force the action, even if the `fromFirmwareVersion` cannot be found."
                                                        },
                                                        "timeLimit": {
                                                            "type": "integer",
                                                            "description": "time limit for any operation in seconds",
                                                            "example": 10000
                                                        },
                                                        "description": {
                                                            "type": "string",
                                                            "example": "update cabinet xxxx"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "blockedBy": {
                                            "type": "array",
                                            "items": {
                                                "type": "string",
                                                "format": "uuid"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "action set not found",
                        "content": {
                            "application/error": {
                                "schema": {
                                    "description": "RFC 7807 compliant error payload.  All fields are optional except the 'type' field.",
                                    "type": "object",
                                    "required": [
                                        "type"
                                    ],
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "about:blank"
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Detail about this specific problem occurrence. See RFC7807"
                                        },
                                        "instance": {
                                            "type": "string",
                                            "example": ""
                                        },
                                        "status": {
                                            "type": "number",
                                            "format": "int32",
                                            "example": 400
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Description of HTTP Status code, e.g. 400"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "actions"
                ]
            },
            "delete": {
                "summary": "Delete all information about a completed firmware action set",
                "description": "Delete all information about a completed firmware action set.",
                "parameters": [
                    {
                        "name": "actionID",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Deleted  - no content"
                    },
                    "400": {
                        "description": "cannot delete a running action",
                        "content": {
                            "application/error": {
                                "schema": {
                                    "description": "RFC 7807 compliant error payload.  All fields are optional except the 'type' field.",
                                    "type": "object",
                                    "required": [
                                        "type"
                                    ],
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "about:blank"
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Detail about this specific problem occurrence. See RFC7807"
                                        },
                                        "instance": {
                                            "type": "string",
                                            "example": ""
                                        },
                                        "status": {
                                            "type": "number",
                                            "format": "int32",
                                            "example": 400
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Description of HTTP Status code, e.g. 400"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "action set not found",
                        "content": {
                            "application/error": {
                                "schema": {
                                    "description": "RFC 7807 compliant error payload.  All fields are optional except the 'type' field.",
                                    "type": "object",
                                    "required": [
                                        "type"
                                    ],
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "about:blank"
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Detail about this specific problem occurrence. See RFC7807"
                                        },
                                        "instance": {
                                            "type": "string",
                                            "example": ""
                                        },
                                        "status": {
                                            "type": "number",
                                            "format": "int32",
                                            "example": 400
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Description of HTTP Status code, e.g. 400"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "actions"
                ]
            }
        },
        "/actions/{actionID}/instance": {
            "delete": {
                "summary": "Abort a running firmware action set",
                "description": "Abort a running firmware action set. Stops all actions in progress (will not rollback)",
                "parameters": [
                    {
                        "name": "actionID",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Action already finalized"
                    },
                    "202": {
                        "description": "Aborting action"
                    },
                    "404": {
                        "description": "action set not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "RFC 7807 compliant error payload.  All fields are optional except the 'type' field.",
                                    "type": "object",
                                    "required": [
                                        "type"
                                    ],
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "about:blank"
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Detail about this specific problem occurrence. See RFC7807"
                                        },
                                        "instance": {
                                            "type": "string",
                                            "example": ""
                                        },
                                        "status": {
                                            "type": "number",
                                            "format": "int32",
                                            "example": 400
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Description of HTTP Status code, e.g. 400"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "actions"
                ]
            }
        },
        "/actions/{actionID}/operations/{operationID}": {
            "get": {
                "summary": "Retrieve detailed information of a firmware action set",
                "description": "Retrieve detailed information of a firmware action set.",
                "parameters": [
                    {
                        "name": "actionID",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "operationID",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "operationID": {
                                            "type": "string",
                                            "format": "uuid"
                                        },
                                        "actionID": {
                                            "type": "string",
                                            "format": "uuid"
                                        },
                                        "startTime": {
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "endTime": {
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "state": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "string"
                                        },
                                        "xname": {
                                            "type": "string",
                                            "example": "x0c0s2b0"
                                        },
                                        "deviceType": {
                                            "type": "string",
                                            "example": "nodeBMC"
                                        },
                                        "target": {
                                            "type": "string",
                                            "example": "bmc"
                                        },
                                        "manufacturer": {
                                            "type": "string",
                                            "example": "intel"
                                        },
                                        "model": {
                                            "type": "string",
                                            "example": "c5000"
                                        },
                                        "fromFirmwareVersion": {
                                            "type": "string",
                                            "example": "fw123.873US"
                                        },
                                        "fromSemanticFirmwareVersion": {
                                            "type": "string",
                                            "example": "1.25.10"
                                        },
                                        "fromImageURL": {
                                            "type": "string",
                                            "example": "s3://fw-update/01ca4727-27d7-43a6-9c5b-f9dfcf805ded/filename.bin"
                                        },
                                        "fromTag": {
                                            "type": "string",
                                            "example": "default"
                                        },
                                        "toFirmwareVersion": {
                                            "type": "string",
                                            "example": "fw456"
                                        },
                                        "toSemanticFirmwareVersion": {
                                            "type": "string",
                                            "example": "1.35.0"
                                        },
                                        "toImageURL": {
                                            "type": "string",
                                            "example": "s3://fw-update/3586af8d-0fba-4bfa-8fc5-782764d335e8/filename-1.0.bin"
                                        },
                                        "toTag": {
                                            "type": "string",
                                            "example": "recovery"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "action set not found",
                        "content": {
                            "application/error": {
                                "schema": {
                                    "description": "RFC 7807 compliant error payload.  All fields are optional except the 'type' field.",
                                    "type": "object",
                                    "required": [
                                        "type"
                                    ],
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "about:blank"
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Detail about this specific problem occurrence. See RFC7807"
                                        },
                                        "instance": {
                                            "type": "string",
                                            "example": ""
                                        },
                                        "status": {
                                            "type": "number",
                                            "format": "int32",
                                            "example": 400
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Description of HTTP Status code, e.g. 400"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "actions"
                ]
            }
        },
        "/images": {
            "post": {
                "summary": "Create a new image record",
                "description": "Create a new image record\n",
                "requestBody": {
                    "description": "a firmware image record",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "deviceType": {
                                        "type": "string",
                                        "description": "node type",
                                        "example": "nodeBMC"
                                    },
                                    "manufacturer": {
                                        "type": "string",
                                        "example": "intel"
                                    },
                                    "models": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "example": [
                                                "c5000",
                                                "c5001"
                                            ]
                                        }
                                    },
                                    "target": {
                                        "type": "string",
                                        "description": "node target",
                                        "example": "BIOS"
                                    },
                                    "tags": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "example": [
                                                "recovery",
                                                "default"
                                            ]
                                        }
                                    },
                                    "firmwareVersion": {
                                        "type": "string",
                                        "example": "f1.123.24xz"
                                    },
                                    "semanticFirmwareVersion": {
                                        "type": "string",
                                        "example": "1.2.252"
                                    },
                                    "updateURI": {
                                        "type": "string",
                                        "description": "where to point the update at"
                                    },
                                    "needManualReboot": {
                                        "type": "boolean",
                                        "description": "whether or not FAS needs to initiate a manual reboot after the update command has been issued"
                                    },
                                    "waitTimeBeforeManualRebootSeconds": {
                                        "type": "integer",
                                        "description": "amount of time to wait after an update to perform a manual reboot"
                                    },
                                    "waitTimeAfterRebootSeconds": {
                                        "type": "integer",
                                        "description": "amount of time to wait after a manual reboot before proceeding to verification step"
                                    },
                                    "pollingSpeedSeconds": {
                                        "type": "integer",
                                        "description": "amount of time to wait between requests to the device to avoid overloading it"
                                    },
                                    "forceResetType": {
                                        "type": "string",
                                        "description": "the command to issue to the redfish device to force a reboot"
                                    },
                                    "s3URL": {
                                        "type": "string",
                                        "example": "s3://firmware/f1.1123.24.xz.iso"
                                    },
                                    "allowableDeviceStates": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "example": "ON"
                                        }
                                    }
                                },
                                "required": [
                                    "deviceType",
                                    "target",
                                    "manufacturer",
                                    "models",
                                    "firmwareVersion",
                                    "semanticFirmwareVersion",
                                    "tags",
                                    "s3URL"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "imageID": {
                                            "type": "string",
                                            "format": "uuid",
                                            "example": "00000000-0000-0000-0000-000000000000"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/error": {
                                "schema": {
                                    "description": "RFC 7807 compliant error payload.  All fields are optional except the 'type' field.",
                                    "type": "object",
                                    "required": [
                                        "type"
                                    ],
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "about:blank"
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Detail about this specific problem occurrence. See RFC7807"
                                        },
                                        "instance": {
                                            "type": "string",
                                            "example": ""
                                        },
                                        "status": {
                                            "type": "number",
                                            "format": "int32",
                                            "example": 400
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Description of HTTP Status code, e.g. 400"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Imaage Record Already Exists",
                        "content": {
                            "application/error": {
                                "schema": {
                                    "description": "RFC 7807 compliant error payload.  All fields are optional except the 'type' field.",
                                    "type": "object",
                                    "required": [
                                        "type"
                                    ],
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "about:blank"
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Detail about this specific problem occurrence. See RFC7807"
                                        },
                                        "instance": {
                                            "type": "string",
                                            "example": ""
                                        },
                                        "status": {
                                            "type": "number",
                                            "format": "int32",
                                            "example": 400
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Description of HTTP Status code, e.g. 400"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "images"
                ]
            },
            "get": {
                "summary": "Retrieve a list of images known to the system",
                "description": "Retrieve a list of images that are known to the system.",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "images": {
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "imageID": {
                                                        "type": "string",
                                                        "format": "uuid"
                                                    },
                                                    "createTime": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "deviceType": {
                                                        "type": "string",
                                                        "description": "node type",
                                                        "example": "nodeBMC"
                                                    },
                                                    "manufacturer": {
                                                        "type": "string",
                                                        "example": "intel"
                                                    },
                                                    "models": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string",
                                                            "example": "c5000"
                                                        }
                                                    },
                                                    "target": {
                                                        "type": "string",
                                                        "description": "node target",
                                                        "example": "BIOS"
                                                    },
                                                    "tags": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string",
                                                            "example": [
                                                                "recovery",
                                                                "default"
                                                            ]
                                                        }
                                                    },
                                                    "firmwareVersion": {
                                                        "type": "string",
                                                        "example": "f1.123.24xz"
                                                    },
                                                    "semanticFirmwareVersion": {
                                                        "type": "string",
                                                        "example": "1.2.252"
                                                    },
                                                    "updateURI": {
                                                        "type": "string",
                                                        "description": "where to point the update at"
                                                    },
                                                    "needManualReboot": {
                                                        "type": "boolean",
                                                        "description": "whether or not FAS needs to initiate a manual reboot after the update command has been issued"
                                                    },
                                                    "waitTimeBeforeManualRebootSeconds": {
                                                        "type": "integer",
                                                        "description": "amount of time to wait after an update to perform a manual reboot"
                                                    },
                                                    "waitTimeAfterRebootSeconds": {
                                                        "type": "integer",
                                                        "description": "amount of time to wait after a manual reboot before proceeding to verification step"
                                                    },
                                                    "pollingSpeedSeconds": {
                                                        "type": "integer",
                                                        "description": "amount of time to wait between requests to the device to avoid overloading it"
                                                    },
                                                    "forceResetType": {
                                                        "type": "string",
                                                        "description": "the command to issue to the redfish device to force a reboot"
                                                    },
                                                    "s3URL": {
                                                        "type": "string",
                                                        "example": "s3://firmware/f1.1123.24.xz.iso"
                                                    },
                                                    "allowableDeviceStates": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string",
                                                            "example": "ON"
                                                        }
                                                    }
                                                },
                                                "required": [
                                                    "type",
                                                    "target",
                                                    "firmware"
                                                ]
[...]
